.custom-nav {
  /*text-shadow: 0 -1px 0 rgba(0,0,0,.15);*/
  background-color: #563d7c;
/*  border-color: #463265;
  box-shadow: 0 1px 0 rgba(255,255,255,.1);*/
}

.navbar-brand.custom-brand {
  color: white;
}

.list-item {
  padding-bottom: 3px;
}

.token-label {
  text-transform: capitalize;
}

.tt-suggestion {
  text-transform: capitalize;
}

#listings {
  padding-top: 40px;
}